.Header {
  background-color: black;
}

.SignIn{
  background-color: black;
  color: white;
}

.SignIn1{
  padding-top: 75px;
  text-align: center;
}

.SignIn2{
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}